/*** Style Sheet for the 559 Tutorials ***/

/** overall, use sans-serif fonts since they look nicer */
body {
    font-family: Calibri, Helvetica, sans-serif;
}

/** try to make things decently responsive - without using any magic! */
:root{
    --boxwidth:600px;
}
@media all and (maxwidth: 600px) {
    :root{
        --boxwidth:100%;
    }
}

/** put each example into a box */
.examplebox {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 15px; 
    width: var(--boxwidth);
}

/*** Simple SVG styles for testing ***/
.lightbluewithborder {
    fill: #CCF;
    stroke: #00F;
    stroke-width: 4px;
}

.lightredwithborder {
    fill: #FCC;
    stroke: #F00;
    stroke-width: 2px;
};

